.headline__title {
    font-size: 64px;
    color: #490E84;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;

    margin-bottom: 40px;
}

@media (max-width: 530px){
    h1 {
    font-size: 28px;
   }
}

@media (max-width: 1000px){
    h1 {
    font-size: 45px;
   }
    h2 {
        font-size: 22px;
    }
}